# Domain
DOMAIN_NAME=yourlogin.42.fr

# WordPress admin (MUST NOT contain "admin", "Admin", "administrator", "Administrator")
WP_ADMIN_USER=youruser
WP_ADMIN_PASSWORD=ChangeMeStrong123!
WP_ADMIN_EMAIL=your.user@student.42...

# Second WordPress user (non-admin)
WP_USER_LOGIN=exampleuser
WP_USER_PASSWORD=ChangeMeStrong123!
WP_USER_EMAIL=example.user@mail.com

# --- MariaDB ---
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=ChangeMeDB!
MYSQL_ROOT_PASSWORD=ChangeMeDBRoot!

# --- BONUS ---
REDIS_PASSWORD=ChangeMeRedis!
FTP_PASS=ChangeMeFTP!
PASV_ADDRESS=yourlogin.42.fr
